<html ng-app="rezeptrechner">
  <head>
    <title>Rezeptrechner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon/512.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"   integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/resize.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/mainController.js"></script>
  </head>
  <body ng-controller="mainController">
    <div id="main-container">
      <div class="container-fluid" id="mainView" style="visibility:hidden;">
       <div class="row">
         <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
           <div class="row">
             <div id="left-container" style="height:auto;">
               <div id="menu">
                 <div class="row">
                   <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <input ng-model="recipe.name" type="text" class="input" placeholder="Rezept">
                   </div>
                   <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                     <button ng-click="share()" class="input"><i class="material-icons md-18 icon">&#xE80D;</i>Share</button>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 ol-xs-8 col-sm-8 col-md-8 col-lg-8">
                     <a href="{{recipe.realSource}}" id="source-a">
                       <input id="source" type="text" ng-model="recipe.source" placeholder="Quelle" class="input source">
                     </a>
                   </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px;">
                   <div class="row th">
                     <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 td">
                       <p class="input">
                         Zutat
                       </p>
                     </div>
                     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 td">
                       <p class="input">
                         Menge
                       </p>
                     </div>
                     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 td">
                       <p class="input">
                         Einheit
                       </p>
                     </div>
                     <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 td">
                       <button ng-click="removeAll()" class="input button del" tabindex="-1"><i class="material-icons md-18">&#xE15B;</i></button>
                     </div>
                   </div>
                   <div class="row">
                     <div class="recipe-container table data">
                       <div ng-repeat="foo in form.foo track by $index" class="row" id="data-rows">
                         <div class="table-row">
                           <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 td">
                             <p class="input">{{foo.name}}</p>
                           </div>
                           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 td">
                             <input min="0" ng-model="foo.value" ng-change="changeValue(foo)" type="number" placeholder="Menge" class="input">
                           </div>
                           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 td">
                             <p class="input">{{foo.unit}}</p>
                           </div>
                           <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 td">
                             <button ng-click="remove(foo)" class="input button del" tabindex="-1"><i class="material-icons md-18">&#xE15B;</i></button>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="add-data">
                       <form>
                         <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 td">
                           <input ng-model="new.name" type="text" class="input " placeholder="Zutat">
                         </div>
                         <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 td">
                           <input ng-model="new.value" min="0" type="number" class="input" placeholder="Menge">
                         </div>
                         <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 td">
                           <select ng-model="new.unit" class="input">
                             <option value="Gramm">Gramm</option>
                             <option value="Kilogramm">Kilogramm</option>
                             <option value="Milliliter">Milliliter</option>
                             <option value="Liter">Liter</option>
                             <option value="Stück">Stück</option>
                             <option value="Esslöffel">Esslöffel</option>
                             <option value="Teelöffel">Teelöffel</option>
                             <option value="Becher">Becher</option>
                           </select>
                         </div>
                         <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 td">
                           <button ng-click="addIngredient()" type="submit" class="input button add" tabindex="-1"><i class="material-icons md-18">&#xE145;</i></button>
                         </div>
                       </form>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <div class="bottom-container">
                   <div class="row">
                     <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-3 col-sm-3 col-md-3 col-lg-3">
                       <button ng-click="impressum()" class="input"><i class="material-icons md-18 icon">&#xE85D;</i>Impressum</button>
                     </div>
                     <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                       <button ng-click="about()" class="input"><i class="material-icons md-18 icon">&#xE88F;</i>About</button>
                     </div>
                     <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-3 col-sm-3 col-md-3 col-lg-3">
                       <button ng-click="cook()" id="cookbtn" class="input cook"><i class="material-icons md-18 icon">&#xE5CA;</i>Jetzt kochen</button>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="cook-container">
                 
               </div>
             </div>
           </div>
         </div>
         <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
           <div class="right-container">
             <textarea ng-model="recipe.text" id="recipe-text"></textarea>
           </div>
         </div>
       </div>
      </div>
      <div id="secondary-layer">
        blabla
      </div>
      <div id="message-container">
        <div id="msg" class="message-box" tabindex="-1"><span>{{msgbox}}<span></div>
      </div>
    </div>
  </body>
</html>
